/* Base Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #dea806;
  color: #eee7e7;
}

.navbar img {
  width: 100px;
  height: auto;
}

/* Menu styles */
.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.navbar-menu li {
  margin: 0 15px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-menu li:hover {
  color: #ff6347;
}

.navbar-right {
  display: flex;
  align-items: center;
}

/* Search container styles */
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #888;
}

.search-input {
  padding: 8px 10px 8px 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 150px;
  transition: width 0.4s ease-in-out;
}

.search-input:focus {
  width: 200px;
}

/* Cart container styles */
.cart-container {
  position: relative;
  margin-right: 20px;
}

.cart-icon {
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s;
}

.cart-icon:hover {
  color: #ff6347;
}

/* Dot styles for cart count */
.dot {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff6347;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 0.75em;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  animation: bounce 0.3s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Signup button styles */
.signup-button {
  padding: 8px 15px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #ff4500;
}


/* Media Queries */

/* For screens up to 1050px */
@media (max-width: 1050px) {
  .navbar .logo {
      width: 140px;
  }

  .navbar-menu {
      gap: 20px;
      font-size: 17px;
  }

  .navbar-right {
      gap: 30px;
  }

  .navbar-right img {
      width: 22px;
  }

  .navbar-right button {
      padding: 8px 25px;
  }
}

/* For screens up to 900px */
@media (max-width: 900px) {
  .navbar .logo {
      width: 120px;
  }

  .navbar-menu {
      gap: 15px;
      font-size: 16px;
  }

  .navbar-right {
      gap: 20px;
  }

  .navbar-right img {
      width: 20px;
  }

  .navbar-right button {
      padding: 7px 20px;
      font-size: 15px;
  }
}

/* For screens up to 750px */
@media (max-width: 750px) {
  .navbar-menu {
      display: none;
  }

  .navbar-right {
      gap: 15px;
  }

  .navbar-right button {
      padding: 6px 18px;
      font-size: 14px;
  }

  .navbar .logo {
      width: 100px;
  }
}
